.container {
  display: flex; 
  height: 100vh; 
  
}

.left {
  flex: 0 0 80%; 
  padding: 15%;
  background: linear-gradient(217.8deg, #021B79 -18.12%, #BE202F -7.42%, #9C2240 34.27%, #562561 88.39%, #02298A 153.67%);

}

.right {
  flex: 0 0 20%; 
  padding: 15%;
  background-color: rgb(255, 255, 255);
}